/* Global -------------------------------------------------*/

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
  box-sizing: border-box;
  font-size: 1.2rem;
  color: white;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  background-color: black;
  
}


.container{
  display: flex;
  border:1px solid black;
  width: 650px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display : inline;

}



.item{
  display: inline-block;
  border: 1px solid black;
  width: 650px;
  background-color: rgb(25, 25, 25);


}

.dots{
  float: right;
  display: flex;
  position:relative;
  right: 15px;
  bottom: 30px;
}

#pro{
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: left;
  float: left;
  position: relative;
  margin: 15px;



}

.post{
  
  align-items: center;
  flex-direction: column;
  display: flex;
}

.top{
  display: flex;
  position: relative;
  text-align: center;
  height: 40px;
 
}

#left_icon{
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  
}

.post{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#myid{
  display: inline;
  position: relative;
  flex-direction: column;
  top: 8px;
  
}

p{
  margin: 0;
}

#dots{
  display: flex;
  align-items: center;
  float: right;
  position: relative;

}

.main{
  width: 650px;
  height: 650px;
  background-image: url('https://i.ibb.co/SxGXw3C/likelion.jpg');
  background-size: cover;
  position: relative;
}

.main img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

#icon_comment{
  transform: scaleX(-1);
  left: 10px;
  position: relative;
}

#plane{
  left:20px;
  position: relative;
}


.icon_left{
  display: inline;
  float: left;
  top: 13px;
  position: relative;
  left:10px;
}

.icon_right{
  display: inline;
  float:right;
  margin-top: 7px;
  position: relative;
  right: 10px;
}

.post_content{
  height: 21vh;
  
}

#data{
  display: block;
  position: relative;
  font-size: small;
  color: rgb(139, 139, 139);
}

#pro2{
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  justify-content: center;
  top: 50%;
}


.bottom_icon{
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  height: 43px;
}


#like{
  text-align: left;
  top:10px;
  position: relative;
  left:10px;
}

#data{
  top: 15px;
  position: relative;
  left: 10px;

}

.post{
  font-size: large;
}

#location{
  font-size: small;
  position: relative;
  
  
}

#myid{
  font-size: x-large;
  position: relative;
  line-height: 50px;
}