/* Global -------------------------------------------------*/

/* @font-face {
  font-family: 'Space Mono', monospace;
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
} */

* {
  box-sizing: border-box;
  font-size: 1.2rem;
  /* font-family: "AppleSDGothicNeoB"; */
}

/* html -------------------------------------------------- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  
  
}

/* 아래에 container css style을 지정해주세요. */
.container{
  display: flex;
  border:1px solid black;
  width: 650px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display : inline;

}

/* 아래에 item css style을 지정해주세요. */

.item{
  display: flex;
  border: 1px solid black;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 650px;
  /* background-color: black; */
  
  
} 

#pro{
  border-radius: 70%;
  overflow: hidden;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: left;
  float: left;
  position: relative;
  margin: 15px;



}

.post{
  
  align-items: center;
  flex-direction: column;
  display: flex;
}

.top{
  display: block;
  position: relative;
  text-align: center;
}

#left_icon{
  display: flex;
  align-items: center;
  float: left;
}

.post{
  text-align: center;
  display: inline;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#myid{
  display: flex;
  position: relative;
  flex-direction: column;
  
}

p{
  margin: 0;
}

#dots{
  display: flex;
  align-items: center;
  float: right;
}

.post_photo img{
  display: inline-block;
  -ms-interpolation-mode: bicubic;
}
